<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
</head>
<body>
<title>BULA Post Sortier App</title>
<h1>Search parcels by einheit ID</h1>
<h3>Gib deine Einheits ID ein / Entre l'ID de ta unité</h3>
<h3>Inserisci il tuo ID unità / Enter the ID of your unit</h3>
<br>
<form method="POST">
    <p class="movaFormularTitel">Einheit ID:</p>
    <input class="movaFormular" name="einheit_id" autofocus>
    <br>
    <input type="submit" class="movaButton" name="Let's go">
</form>
<br><br><a href="/checkin" class="movaButton">Start again</a>
</body>
</html>
