<title>BULA Post Sortier App - Edit Parcel</title>
<h1>Edit parcel: {{parcel_id}}</h1>
<form method="POST">
    Parcel ID:<br>
    <input name="parcel_id" value="{{parcel_id}}" readonly><br>
    First Name:<br>
    <input name="first_name" value="{{first_name}}"><br>
    Last Name:<br>
    <input name="last_name" value="{{last_name}}"><br>
    Einheit ID:<br>
    <input name="einheit_id" value="{{einheit_id}}"><br>
    Shelf Proposed:<br>
    <input name="shelf_proposed" value="{{shelf_proposed}}"><br>
    Shelf Selected:<br>
    <input name="shelf_selected" value="{{shelf_selected}}"><br>
    Width (cm):<br>
    <input name="dim_1" value="{{dim_1}}"><br>
    Length (cm):<br>
    <input name="dim_2" value="{{dim_2}}"><br>
    Heigth (cm):<br>
    <input name="dim_3" value="{{dim_3}}"><br>
    Weight (g):<br>
    <input name="weight_g" value="{{weight_g}}"><br>
    <br>
    <input type="submit">
</form>
<br><br><a href="/">Back to start</a>