<title>BULA Post Sortier App - Add New Parcel</title>
<h1>Manuallly add a parcel</h1>
<form method="POST">
    Parcel ID:<br>
    <input name="parcel_id" value="990000000000000000"><br>
    First Name:<br>
    <input name="first_name"><br>
    Last Name:<br>
    <input name="last_name"><br>
    Einheit ID:<br>
    <input name="einheit_id"><br>
    Shelf Proposed:<br>
    <input name="shelf_proposed"><br>
    Shelf Selected:<br>
    <input name="shelf_selected"><br>
    Width (cm):<br>
    <input name="width_cm"><br>
    Length (cm):<br>
    <input name="length_cm"><br>
    Heigth (cm):<br>
    <input name="height_cm"><br>
    Weight (g):<br>
    <input name="weight_g"><br>
    <br>
    <input type="submit">
</form>
<br><br><a href="/">go home</a>