<!DOCTYPE html>
<html>
   <head>
      <style>
        th, td {
          text-align: left;
          padding: 8px;
        }
      </style>
   </head>

   <body>
        <title>BULA Post Sortier App</title>
        <h1>Sort a parcel</h1>
        <h2>2. Sort into shelf</h2>
        <br>
        {{note}}
        <br>

        <table>
            <tr>
                <th>
                    Parcel ID
                </th>
                <td>
                    {{parcel_id}}
                </td>
            </tr>
            <tr>
                <th>
                    Shelf Proposed
                </th>
                <td>
                    {{shelf_proposed}}
                </td>
            </tr>
            <tr>
                <th>
                    Shelf Selected
                </th>
                <td>
                    <form method="POST">
                        <input name="shelf_selected" value="{{shelf_proposed}}">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <th>
                    First Name
                </th>
                <td>
                    {{first_name}}
                </td>
            </tr>
            <tr>
                <th>
                    Last Name
                </th>
                <td>
                    {{last_name}}
                </td>
            </tr>
            <tr>
                <th>
                    Einheit
                </th>
                <td>
                    {{einheit_id}}
                </td>
            </tr>
        </table>

        <br><br><a href="/">go home</a>
    </body>
</html>